<link rel="extends" href="_layout/default.html" />

<h1>About me</h1>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia illum
  repellat totam cumque quisquam saepe quia, assumenda libero labore perferendis
  impedit fugiat officiis aliquid dolorem ex. Accusamus esse libero debitis!
</p>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia illum
  repellat totam cumque quisquam saepe quia, assumenda libero labore perferendis
  impedit fugiat officiis aliquid dolorem ex. Accusamus esse libero debitis!
</p>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia illum
  repellat totam cumque quisquam saepe quia, assumenda libero labore perferendis
  impedit fugiat officiis aliquid dolorem ex. Accusamus esse libero debitis!
</p>
